body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 100vh;
    gap: 40px;
}
h1 {
    top: 0px;
    position: fixed;
    padding: 10px;
    box-shadow: 1px 10px 20px 1px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.choices{
    display: flex;   
    justify-content: center;
    gap: 10%;    
}

button {
    cursor: pointer;
    background-color: aqua;
    font-size: xx-large;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 11px 6px black;
}
.content{
    border: 5px dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow-y: auto;
    flex-shrink: 1;
    max-height: 50px; 
    scroll-behavior: smooth;
    
}
.content::-webkit-scrollbar{
    display: none;
}
.current {
    display: flex;
    font-weight:bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
}